#coffeeform {
    font-family: Verdana;
    color: #bd9ac7;
    display: none;
}

p {
    font-family: Verdana;
    color: #bd9ac7;
}

#leftcol {
    float: left;
    width: 50%;
    text-align: center;
}

#rightcol {
    float: right;
    width: 50%;
    text-align: center;
    
}

.center {
    text-align: center;
}